@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    var accessUser = $"E-mail：{ViewData["Email"]}　ロール：{ViewData["Role"]}　でアクセスしています。";
    <div class="text-center">
        <p>@accessUser</p>
    </div>
}

@if (Context.User.IsInRole("Administrator"))
{
    <div class="text-center">
        <a asp-controller="Admin" asp-action="Index">管理者用ページ</a>
    </div>
}